.searchZone {
    background-color: rgb(120, 210, 217);
    padding: 20px 10px;
    width: 100%;
    text-align: center;
}

.searchZone h1 {
    color: rgb(234, 244, 245);
    font-size: 40px;
    margin-bottom: 20px;
}

.searchControls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap; /* permite que baje en pantallas pequeñas */
}

.searchInputHome {
    flex: 1 1 200px;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
}

.datePicker {
    flex: 1 1 150px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.sendSearchButton {
    flex: 0 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

@media (max-width: 768px) {
    .searchZone h1 {
        font-size: 30px;
    }
    .searchControls {
        flex-direction: column;
        gap: 10px;
    }
}