.searchZone{
    background-color: rgb(120, 210, 217);
    margin: 0;
    padding-top: 10px;
    margin-bottom: -10px;
    width: 100%;
    height: 32vh;
    text-align: center;
}
.searchZone h1{
    color: rgb(234, 244, 245);
    font-size: 40px;
    text-align: center;
    position: relative;
    top: 5%;
}
.searchInputHome{
    width: 30%;
    height: 30%;
    margin: 15px 5px;
    border-radius: 10px;
    border: none;
    padding-left: 20px;
    font-size: 20px;
}
.sendSearchButton{
    width: 10%;
    padding: 5px;
}

@media (max-width: 768px) {
    .searchZone{
        height: 100%;
    }
    .searchInputHome{
        width: 80%;
        height: 10%;
        margin: 5px 5px;
        font-size: 15px;
    }
    .sendSearchButton{
        width: 60%;
        padding: 5px;
        margin-bottom: 25px;
    }
    .searchZone h1{
        font-size: 30px;
    }
}

@media (max-width: 576px) {
    .searchZone{
        height: 100%;
    }
    .searchInputHome{
        width: 90%;
        height: 10%;
        margin: 5px 5px;
        font-size: 15px;
    }
    .sendSearchButton{
        width: 60%;
        padding: 5px;
        margin-bottom: 25px;
    }
    .searchZone h1{
        font-size: 25px;
        margin-bottom: 40px;
    }
}