button{
    display: block;
    margin: 10px 0;
}
.adminErrorAccess{
    color: red;
    font-size: 3em;
    margin: 10px 0;
    display: none;
}
.adminErrorAccessAcount{
    color: red;
    font-size: 3em;
    margin: 10px 0;
}
@media (max-width: 768px) {
    .adminPage{
        display: none
    }
    .adminErrorAccess{
        font-size: 3em;
        display: block;
    }
}