.hotelsSuggestions h2{
    color: rgb(0, 0, 0);
    font-size: 30px;
    position: relative;
    margin-left: 15px;
    top: 5px;
}

.hotelsSuggestions{
    width: 100%;
    margin-top: 35px;
    margin-bottom: 30px;
}

.hotelsSuggestionsContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
}
.hotelsSuggestionsPagesContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    width: 20%;
}
.hotelsSuggestionsPagesContainer button{
    border: none;
    font-size: 30px;
    background-color: transparent;
}
.hotelsSuggestionsPagesContainer p{
    font-size: 23px;
    margin: 0;
    padding: 0;
    text-align: center;
}
@media (max-width: 768px) {
    .hotelsSuggestionsContainer{
        grid-template-columns: repeat(1, 1fr);
    }
    .hotelsSuggestionsPagesContainer{
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
    }
}