.hotelsCategories, h2{
    color: rgb(0, 0, 0);
    font-size: 30px;
    position: relative;
    margin-left: 15px;
    top: 5px;
}
.hotelsCategories{
    background-color: rgb(224, 239, 253);
    margin: 0;
    width: 100%;
    height: 50vh;
}